@import '_breakpoint.scss';
@import '_variables.scss';

.form {
  &__items {
    padding: 3px 0;
    display: flex;
    &__title {
      width: 40%;
      padding-right: 0.8rem;
      text-align: right;
      @include ae480 {
        width: 7rem;
      }
    }
    &__cells {
      width: 55%;
      padding: 3px 6px;
      font-size: 0.8rem;
      @include ae480 {
        width: calc(100% - 8rem);
      }
      &:focus {
        border-color: $bd_input_focus;
        background-color: $bg_input_focus;
      }
    }
    &__footer {
      margin: 1.5rem 0;
    }
    &__header {
      margin: 0;
      padding: 0;
    }
  }
}

.list {
  &__item {
    padding: 0.6rem;
    background-color: rgba(#fff, 0.8);
    border-bottom: 1px solid $bd_input_default;
    cursor: pointer;
    &:nth-child(even) {
      background-color: rgba($bg_list, 0.8);
    }
    &:hover {
      color: $text_strong;
      background-color: $bg_input_focus;
    }
  }
}

.flex {
  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--left {
    @extend .flex--center;
    justify-content: flex-start;
  }
  &--right {
    @extend .flex--center;
    justify-content: flex-end;
  }
}

// 絕對位置置中
.absolute {
  &--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--top {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.pseudo {
  content: '';
  display: block;
}

.btn {
  margin: 0 4px;
  padding: 0;
  cursor: pointer;
  &__opacity {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
    @include ae768 {
      opacity: 1;
    }
  }

  &__close {
    width: 1px;
    height: 1px;
    &::before {
      @extend .pseudo;
      @extend .btn__opacity;
      @extend .absolute--top;
      width: 20px;
      height: 20px;
      content: '❌';
      color: #fff;
    }
  }

  &__delete {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 99rem;
    &::before {
      @extend .pseudo;
      @extend .btn__opacity;
      @extend .absolute--center;
      width: 12px;
      height: 3px;
      background-color: #fff;
    }
  }

  &__square {
    height: 1.8rem;
    padding: 0.3rem 0.8rem;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    color: $text_defalt;
    background-color: $bg_default;
    border: 0.5px solid $bd_btn_default;
    // border-radius: 8px;
    &--danger {
      &:hover {
        color: #fff;
        background-color: $bg_btn_danger;
        border-color: $bg_btn_danger;
      }
    }
    &--success {
      &:hover {
        color: #fff;
        background-color: $bg_btn_success;
        border-color: $bg_btn_success;
      }
    }
  }
}