// text
$dark_blue_defalt: #2c3e50
$light_blue: #00aeff
$light_green: #42b983
$grey: #808080
$red_warning: red

// border
$bd_light_grey: #efefef

// backgroud-color
$bg_light_yellow: rgba(yellow, 0.1)
$bg_med_yellow: rgba(yellow, 0.3)